.btn.btn-follow {
    background: 0;
    color: lighten(black, 35%);
    border: 2px solid lighten(black, 35%);
    padding: 5px;
    transition: .3s;
    cursor: pointer;
    margin-left: 15px;

    &:hover {
        color: black;
        border-color: black;
    }

    &:focus {
        outline-color: black;
    }

    
}