@import '../../assets/css/mixins';
@import '../../assets/css/fonts';



.post-list {
    font-family: $font-raleway;
    color: #333;

    ul {
        margin-top: 20px;
        display: grid;
        grid-template-rows: repeat(auto-fill);
        grid-row-gap: 20px;

        .post-preview {
            @include flex(row, space-between);

         

            .post-text {
                @include flex(column, space-between);

                .top-container {
                    h2 {
                        font-size: 1.5em;
                        font-weight: 600;
                        margin-bottom: 5px;
                    }

                    h3 {
                        color: lighten(#333, 30%);
                      
                    }
        
                    p {
                        margin-bottom: 20px;
                        padding-bottom: 5px;
                    }
        
                  
                }
                .bottom-container {
                    font-size: 0.875em;

                    

                    .user-popup-container {
                        position: relative;
                        .user-name {
                            padding: 10px 0 ;

                        }
                        .user-name:hover {
                            text-decoration: underline;
                        }
                        
                    }

                    p {
                        margin: 5px 0;
                    }
                    
                }

            }

            img {
                width: 150px;
                height: 100px;
            }

        }

    }
    
}