@import '../../assets/css/fonts';
@import '../../assets/css/mixins';

.post-details {
    font-family: $font-raleway;
    color: #333;

    .btn-remove-post {
        @include button();
    }

    .post-intro {
        line-height: 1.3;
        .title {
            font-size: 2.5em;
            font-weight: 600;
            margin-top: 20px;
            border: 0;
            padding: 0 20px;
        }
    
        .subtitle {
            font-size: 1.7em;
            font-weight: 600;
            margin: 10px 0;

            border: 0;
            color: lighten(#333, 20%);
            padding: 0 20px;
        }
        
    }
}