@import '../../assets/css/mixins';
@import '../../assets/css/fonts';


.user-pop-up {
    position: absolute;
    box-shadow: 0 0 1px 0 black;
    background: white;
    z-index: 1;
    padding: 10px;
    top: -160px;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 60px;
    min-width: 250px;
    min-height: 150px;
    border-radius: 3px;

    &::after {
        content: "";
        position: absolute;
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #333;
        bottom: -10px;
        left: 10px
    }

    .user-info {

        h2 {
            font-weight: 600;
            font-size: 1.125em;
        }
    
        p {
            color: lighten(#333, 30%);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 154px;   
        }
    }
    

    .user-thumbnail {
        grid-column-start: 2;
        justify-self: center;
        @include userImg(50px, 50px);
    }
}