@import '../../assets/css/mixins';

.user-preview {
    @include flex(row);

    .user-profile-pic {
        @include userImg(100px, 100px);
    }

    .user-content {
        margin-left: 20px;
        align-self: center;
        h3 {
            display: flex;
            align-items: center;

            .user-name {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}