.blog-details {
    font-family: $font-raleway;
    line-height: 2;
    .blog-info {
        margin-bottom: 20px;
        h2 {
            font-size: 1.5em;
            font-weight: 600;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 10px;
        }
    }
}