@import '../../assets/css/mixins';
@import '../../assets/css/fonts';

.sign-up-page {

    form {
        font-family: $font-raleway;
        @include flex(column, center, center);

        label {
            display: grid;
            grid-template-columns: 0.5fr 1fr;
            padding: 20px;
            align-items: center;

            input {
                margin-left: 10px;
                padding: 5px 10px;
                font-family: $font-raleway;
            }

            

        }

        button {
            align-self: flex-end;
            @include button();
        }

    }

}