@import '../../assets/css/mixins';
@import '../../assets/css/fonts';



.blog-list {
    font-family: $font-raleway;
    ul {
        margin-top: 20px;
        display: grid;
        grid-template-rows: repeat(auto-fill, 200px);
        grid-row-gap: 20px;
        .blog-preview {
            .blog-content {
                h2 {
                    font-size: 1.5em;
                    font-weight: 600;
                    margin-bottom: 10px;
                }
            }
            img {
                width: 300px;
                height: 200px;
            }
            @include flex(row, space-between);

        }
    }
}