// Partials
@import 'reset';
@import 'fonts';
@import 'mixins';
@import 'vars';

// Components
@import './components/signup';
@import './components/blogList';
@import './components/blogDetails';
@import './components/postList';
@import './components/postDetails';

* {
    box-sizing: border-box;
}

img, audio, iframe, video {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

p {
    line-height: 1.5;
}

.main-nav {
    box-shadow: 0px 1px 3px black;
    .wrapper {
        @include flex(row,space-between,center);
        @include wrapper(1200px);
        font-family: $font-raleway;
        width: 100%;
        padding: 20px 0;
        .logo {
            font-size: 2em;
        }
        .links {
            @include flex(row, space-between, center);
            font-size: 1em;
            a:not(:first-of-type) {
                margin-left: 10px;
            }
        }
    }
}

