// Partials
@import 'reset';
@import 'fonts';
@import 'mixins';
@import 'vars';

// Fonts
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/rt-raleway/rtraleway-regular.ttf');
}


* {
    box-sizing: border-box;
}

img, audio, iframe, video {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

p {
    line-height: 1.5;
}


.main-nav {
    box-shadow: 0px 1px .5px 0px black;
    position: relative;
    z-index: 1;
    .wrapper {
        @include flex(row,space-between,center);
        @include wrapper(1200px);
        font-family: $font-raleway;
        width: 100%;
        padding: 20px 0;
        .logo {
            font-size: 2em;
        }
        .links {
            @include flex(row, space-between, center);
            font-size: 1em;
            a:not(:first-of-type) {
                margin-left: 10px;
            }
        }
    }
}

main {
    min-height: calc(100vh - 72px);

    &.with-background {
        background-color: #fcfcfc;
    }

    .main-content {
        position: relative;
        @include wrapper(860px);

        .page {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 30px 0 20px 0;
        }
    }
    
}

// react transitions:

.fade-appear, .fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms linear 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}

